@font-face{
	font-family: "f";
	src:url('../fonts/fontawesome-webfont.ttf');
}
.rocket{
	font-family: f;
	font-size:50px;
}
.rocket::before{
	content: "\f135"
}
body{background:url("../img/desktop.jpg"); background-size: 100% ;}
.oc{font-size:50px;}
.oc .ac{color: #fff}